[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Typical repo for new devops project
[access "refs/*"]
	owner = group user/luserat
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/luserat
	label-Verified = -1..+1 group user/luserat
	push = group user/luserat
	read = group user/luserat
	rebase = group user/luserat
	removeReviewer = group user/luserat
	submit = group user/luserat
[access "refs/heads/*"]
	create = group user/luserat
	push = +force group user/luserat
	pushMerge = group user/luserat
	read = group user/luserat
[access "refs/tags/*"]
	push = group user/luserat
	push = +force group user/luserat
